@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.JSInterop
@using chat_app
@using chat_app.Shared
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My resume</title>
</head>



<body>
<!-- Wrapper -->
<div>
<!-- Main content-->
<div>
    <!-- My info-->
    <div>
<h2>Front-End Developer</h2>
<h1> Liza Balova</h1>
    
<p> idunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
     Risus commodo viverra maecenas.
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
</div>
<!-- My Projects-->
<div>

    <h3> Projects</h3>
    <ol>
        <li>
            <a href="https://hellen.p.goit.global/" target="_blank">https://hellen.p.goit.global/</a> 
            .................
            [HTML5, CSS3] 
        </li>
        <li>
            <a href="https://cryptohub.p.goit.global/" target="_blank">https://cryptohub.p.goit.global/</a>
          ..................
          [ Javascript ]
        </li>
    
       <li>
         <a href="https://kidslike.p.goit.global/" target="_blank">https://kidslike.p.goit.global/</a>
        ....................
        [React.js, Node js ]
    </li>
    </ol>
</div>
<!--Work Experience-->
<div>
    <h3>Work Experience</h3>

    <!-- Company 1-->
    <div>
        <h4> Front-End Developer Freelance</h4>
        <p>September 2019 - up to now | Country </p>
         <ul>


<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor</li>
<li>incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, </li>
<li> consectetur adipiscing elit. Risus commodo viverra macenas</li>
<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>

         </ul>

    </div>

 <!-- Company 2-->
 <div>
    <h4> Manager Banderogusac & Co.</h4>
    <p>March 2015 - October 2018 | Country </p>
     <ul>


<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod labore et dolore magna aliqua</li>
<li> Quis ipsum suspendisse ultrices gravida </li>
<li> Risus commodo viverra maecenas.</li>

     </ul>

</div>
<!-- Company 3-->
<div>
    <h4> Manager BestUA Corp.</h4>
    <p>June  2014 - February 2015 | Country </p>
     <ul>


<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
<li> Quis ipsum suspendisse ultrices gravida </li>
<li> Risus commodo viverra maecenas.</li>

     </ul>

</div>
</div>
<!-- Education 
-->
<div>
    <h4> National University of Managment</h4>
    <p>Managment</p>
    <p> September 2009 - June 2014 | Country</p>
     <ul>


<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.



</div>
</div>
<!--Sidebar-->
<aside>
<img src="Frame 1.png" alt="My photo" width="370"> 

<!-- Contacts-->
<div>
    <h3>Contacts</h3>
    <p>C: <a href="tel:+380660354299">+380660354299</a></p>
    <p>E: <a href="malto:yelyzavetabalova@gmail.com">yelyzavetabalova@gmail.com</a></p>
</div>


<!-- Tech skills-->


<div>
    <h3> Tech skills</h3>
    <ul>
<li>HTML5</li>
<li>CSS3</li>
<li>GIT</li>
<li>WebPack</li>
<li>JavaScript</li>
<li>React.js</li>
<li>Node.js</li>



    </ul>
</div>
<div>
    <!-- Soft skills-->
    <h3> Soft skills</h3>
    <ul>
<li>Scrum</li>
<li>Agile</li>
<li>GTD</li>
<li>TeamWork</li>
    </ul>

</div>
</aside>

</div>

</body>
